{% extends 'base.html' %}
{% load helpers %}

{% block title %}Device Map{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <form method="get" class="form form-horizontal">
            {% csrf_token %}
            {% include 'forms/form_generic.html' with form=filter_form %}
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="submit" class="btn btn-primary">Filter Map</button>
                </div>
            </div>
        </form>

        {% if non_geolocated_devices %}
            <div class="alert alert-warning">
                <h4>Devices Without Locations</h4>
                <ul>
                    {% for device in non_geolocated_devices %}
                        <li><a href="{{ device.get_absolute_url }}">{{ device.name }}</a> ({{ device.site.name|default:"No Site" }})</li>
                    {% endfor %}
                </ul>
                <p>Add geolocation data to plot them!</p>
            </div>
        {% endif %}

        <div id="geomap" style="height: 600px; width: 100%; border: 1px solid #ccc;"></div>
    </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<script>
const mapData = {{ map_data|safe }};
const map = L.map(mapData.map_id).setView([40.7128, -74.0060], 10);

L.tileLayer(mapData.tiles.url_template, {
    attribution: mapData.attribution,
    subdomains: mapData.tiles.options.subdomains,
    crs: L.CRS[mapData.crs]
}).addTo(map);

const iconCache = {};
mapData.markers.forEach(marker => {
    let icon;
    if (!iconCache[marker.icon]) {
        const iconClass = marker.icon === 'cpe' ? 'fa fa-wifi' : 'fa fa-server';
        icon = L.divIcon({ className: 'custom-div-icon', html: `<i class="${iconClass}"></i>`, iconSize: [20, 20] });
        iconCache[marker.icon] = icon;
    } else {
        icon = iconCache[marker.icon];
    }
    const deviceMarker = L.marker(marker.position, { icon: icon })
        .bindPopup(`
            <b>${marker.device.name}</b><br>
            Role: ${marker.device.role}<br>
            <a href="${marker.device.url}">View in NetBox</a><br>
            VLAN: ${mapData.vlan || 'All'}
        `)
        .addTo(map);

    deviceMarker.on('click', () => {
        fetch(`/plugins/device-map/connected-cpe/${marker.device.id}/`)
            .then(res => res.json())
            .then(data => {
                if (data.status) {
                    alert(`Connected CPEs: ${data.cpe_devices.map(d => d.name).join(', ')}`);
                }
            });
    });
});

if (mapData.connections.length > 0) {
    mapData.connections.forEach(conn => {
        L.polyline(conn, { color: 'blue', weight: 2, opacity: 0.6 }).addTo(map);
    });
}

if (mapData.markers.length > 0) {
    const group = new L.featureGroup(mapData.markers.map(m => L.marker(m.position)));
    map.fitBounds(group.getBounds().pad(0.1));
}
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<style>
.custom-div-icon { background: transparent; border: none; }
</style>
{% endblock %}
